{# empty Twig template #}
{% block footer %}
    <footer class="footer text-center">
        <div class="wrapper padding">
            © 2013-{{ "now"|date("Y") }} Société Nautique Etoile Bienne | Conception: N.Steiner | Réalisation: B.Baudry
{#            <p><a href="http://getgrav.org">Grav</a> was <i class="fa fa-code"></i> with <i class="fa fa-heart"></i> by <a href="http://www.rockettheme.com">RocketTheme</a>.</p>#}
        </div>
    </footer>
{#    {{ assets.js('bottom') }}#}
{% endblock %}