{# empty Twig template #}
{% block footer %}
    <footer class="footer text-center">
        <div class="wrapper padding">
            © 2013-{{ "now"|date("Y") }} Société Nautique Etoile Bienne | Conception: N.Steiner | Réalisation: B.Baudry        </div>
    </footer>
    {# assets.addJs('theme://js/ganalytics.js',{'group':'bottom'}) #}
{% endblock %}
