/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04-Mar-2018, 13:57:26
    Author     : bbaudry
*/
html body .navbar-default .container-fluid .navbar-nav>li>a:hover{
    color:#fff;
    
}
html body .navbar-default .container-fluid .navbar-nav>li>a:focus{
    background-color: #334455;
}
html{
    body{
        padding-top: 50px; /* body padding for fixed top nav */
        /*from celularian->*/
        font-family: "Open Sans",Calibri,Candara,Arial,sans-serif;
        font-size: 1.5em;
        line-height: 1.428571429;
        color: #555555;
        background-color: #ffffff;
        font-family: sans-serif;
        #_carrousel
        {
            padding-top: 20px;
            img{
                &.img-rounded{
                    -moz-box-shadow:    -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
                    -webkit-box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
                    box-shadow:         -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
                }
            }
        }
       .mainsponsor
        {
            margin-bottom:16px;
        }
        .active {
          height: 100%;
        }
        footer {
            margin: 2em 0;
        }
        *, *:before, *:after {
        -moz-box-sizing: border-box;
        }
        /*************** BBA ***********************/

        /************************ NAV ************************/
        
        
        .navbar {
            background-image: linear-gradient(#fff, #fefefe  40% , #ddeeff );
            box-shadow: 0 1px 16px rgba(0, 0, 0, 0.5);
            filter: none;
            font-size: 1.4em;
            margin-bottom: 0;
        }
       
            .navbar-default
            {
                
                 .container-fluid
                 {
                    margin-bottom:.4em;
                    margin-top:.4em;
                    margin-right:auto;
                    margin-left:auto;
                    .navbar-header
                    {
                        padding-left: 10%;
                        
                    }
                    .navbar-nav{
                        /*margin-top: 12px;*/
                         margin-top: .4em;
                         padding-right:10%;
                        .dropdown-menu 
                        {
                            min-width: 10em;
                            >li>a{
                                &:hover{
                                    color:#000;
                                }
                                padding: .2em 1em;
                        }
                        > .active > a, > .active > a:hover, > .active > a:focus {
                            background-color: #3355AA;
                            color:#fff;
                        }
                        >li>a:hover,>li>a:focus {
                             background:none;
                             text-decoration: underline;
                             color:#aaa !important;
                        }
                    }
                         
                        > .dropdown > a .caret {
                            border-bottom-color: #000000;
                            border-top-color: #000000;
                        }
                        >.open > a, > .open > a:hover, > .open > a:focus {
                            background-color: #3355AA;
                            color: #fff;
                            border-color: #fff;
                        }

                        > li > a {
                            color: #3355AA;
                            padding-bottom: .4em;
                            padding-top: .4em;
                            border-left: .8em double #dde;
                        }
                        >li.active{
                            background-color: #3355AA;
                            color: #FFFFFF;
                            padding-left : .2em;
                            border: 0px;
                            >a {
                                background-color: #3355AA;
                                color: #FFFFFF;
                                border-left: .8em double #fff;
                                box-shadow: 0 1px 4px #000;
                            }
                        }
                       
                    }
                    .navbar-brand{
                        color: #3355AA;
                        float: left;
                        font-size: 1.5em;
                        padding-top: 8px;
                        a:hover{
                            color:#3399CC;
                        }
                        span{
                            font-size: .8em;
                            color: #9a9a9a;
                        }
                    }
                    .navbar-toggle {
                        border-color: #3355AA;
                        border-width: medium;
                        background-color: #3355AA;
                        float:left !important; 
                        &:hover,&:focus
                        {
                            color:#fff !important;
                        }
                        .icon-bar {
                            background-color: #ffffff;
                        }
                    }
                    .navbar-collapse, .navbar-form {
                        border-color: #3355AA;
                    }
                    .nav > li > a {
                        display: block;
                        position: relative;
                    }
                }
            }
        /**************** GENERAL ***************/
        img{
            &.img-rounded{
                /*border: #00244F 4px solid;*/
                box-shadow: 0 0 12px #333333;
                border-radius: 12px;
                margin: 1em;
                margin-left: 0px;
            }
        }
        .home
        {
            img{
                &.img-rounded 
                {
                    margin-top: 1.4em;
                }
                &.club
                {
                    float:right;
                }
            }
        }
        .trombino
        {
            img{
                float: none;
            }
            p, h4{
                margin:.4em;
            }
        }
        h1
        {
            color: #3355AA;
            background-color: #3355AA;
            color: #FFFFFF;
            border-left: .8em double #fff;
            box-shadow: 0 1px 8px #000;
            padding: .3em 1em .3em 1em;
            display:inline-block;
            font-weight: 350;
        }
        h3{
            color:#3355AA;
        }
        section
        {
            a {
                text-decoration:underline;
                color:#3399CC;
                &:hover {
                    text-decoration:none;
                    color:#3399CC;
                }
            }
            &#body{
                margin-top: 4rem;;
            }
        }
        .form
        {
            border: #eef 2px solid;
            padding:32px;
            -webkit-box-shadow: 0px 0px 25px 6px rgba(0,0,0,0.73);
            -moz-box-shadow: 0px 0px 25px 6px rgba(0,0,0,0.73);
            box-shadow: 0px 0px 25px 6px rgba(0,0,0,0.73);
        }
        #_blockcentral2{
            h2 {
                color:#77AACC;
            }
            a {
                color:#77AACC;
                &:hover, &:focus{
                     text-decoration: underline;
                }
            }
        }
        #_blockcentral1{
             text-align: center;
             width: 65%;
             .img-responsive
             {
                 margin: 0 auto; // hack boostrap to align middle
             }
        }
        #_blockcentral1, #_blockcentral2{
                background-color: #334455;
                border-color: #229900;
                color:#fff;
                font-size: 1em;
                cursor: pointer;
               
                box-shadow: 2px 2px 6px 1px #333;
                line-height: 1.2em;
                padding: .9em;
                margin-top: .9em;
                margin-bottom: .9em;
                a{
                    color:#77AACC;
                    &:hover, &:focus {
                         text-decoration: underline;
                    }
                }
                > h2 {
                        margin: .5em;
                }
            }
        table {
            border-collapse:collapse;
            width:90%;
            text-align:center;
            td {
                 border:1px solid black;
                 width:20%;
                 text-align:center;
        }
            th{
                background-color:#DDEEFF;
                border:1px solid black;
                width:20%;
                text-align:center;
            }
        }
        caption {
            font-weight:bold
        }
        .centered{
            float: none;
            margin: 0 auto;
        }
    }
}
/* Responsive Styles */
@media (max-width: 767px) {

     body{font-size: 11px;}
    .carousel {
        height: 70%; /* increases the carousel height so it looks good on phones */
    }
    .container-fluid{
        
    }

}
@media (max-width: 497px) {
    html{
        
    body{
        font-size: 9px;
        .navbar-default{
            height:64px;
            .container-fluid{
                .navbar-header{
                    float:right;
                    position:absolute;
                    top:8px;
                    padding-left:8px;
                    .navbar-brand{
                        font-size: 1.8em;
                        line-height: .7em;
                        padding-top: 12px;
                    }
                }
                #navbar
                {
                    position:absolute;
                    top:60px;
                    background-color: #fff;
                    left:15px;
                }
            }
        }
    }
    }
}

@media (max-width: 991px) {
   body{font-size: 12px;}
}
