{% extends 'partials/base.html.twig' %}

{% block content %}
 <div clss="row">
        <div class="col-lg-12">
             <h1>Ouille ouille ouille!</h1>
        {#{{ page.content }}#}
        <h2>Page inconnue</h2>
            {{ media['theme://images/error404.jpg'].html("","","img-rounded img-responsive") }}
        </div>
    </div>
{% endblock %}
